*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #0f0f1e;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

body.is-query {
  background: #FFDAC1;
  color: black;
}

body.has-error {
  background: #FF9AA2;
  color: black;
}

body.has-error .Calendar {
  display: none;
}

body:not(.has-error) .Error {
  display: none;
}

.Calendar {
  height: 85vh;
  display: grid;
  align-content: center;
  text-align: center;
}

.Calendar__ad {
  font-size: 4vmin;
}

.Calendar__bs-day {
  font-size: 40vmin;
  font-weight: 100;
}

.Calendar__bs-date {
  font-size: 8vmin;
}

.Error {
  height: 85vh;
  display: grid;
  grid-gap: 4vmin;
  align-content: center;
  text-align: center;
}

.Error__icon svg {
  width: 20vmin;
}

.Error__message {
  font-size: 4vmin;
}
