<!DOCTYPE html>
html(lang="en")
  head
    title Nepali Date
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no")

    link(rel="icon", href="/img/icon.png")
    link(rel="apple-touch-icon", href="/img/icon.png")

    link(rel="manifest", href="manifest.webmanifest")
    meta(name="theme-color" content="#0f0f1e")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap", rel="stylesheet")
    style
      include ../css/style.css

  body
    .Calendar
      .Calendar__ad
      .Calendar__bs
        .Calendar__bs-day
        .Calendar__bs-date

    .Error
      .Error__icon
        include ../img/broken-robot.svg
      .Error__message

    script
      include ../js/app-dist.js
